{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block content %}
<h1>About CrystalWiki</h1>
	<p class="about-text">CrystalWiki is an online crystal shop that offers a wide variety of crystals, minerals, gemstone jewelry, and tarot supplies to the public at wholesale prices. Founded in July of 2024, the company is based out of Northwest, GA, and is owned by Daphane Taylor. At 30 years old, Daphane has been rockhounding and collecting for almost three years. She takes pride in being an entrepreneur of a woman-owned small business, with one of her main goals being to make her customers happy.</p>

	<p class="about-text">At CrystalWiki, we believe in the power of crystals and the positive energy they bring into people's lives. Our extensive collection is carefully curated to ensure that we provide only the highest quality items to our customers. Whether you are a seasoned collector or just beginning your journey with crystals, we have something for everyone. Our commitment to quality and customer satisfaction sets us apart in the industry.</p>

	<p class="about-text">We understand that finding the perfect crystal or stone can sometimes be a challenge. That's why we offer a unique feature where we take requests for certain crystals and stones if a customer doesn't see the particular item they're looking for. Our knowledgeable staff is always ready to assist you in finding exactly what you need. Your satisfaction is our top priority, and we strive to make your shopping experience as seamless as possible.</p>

	<p class="about-text">Customer service is at the heart of everything we do at CrystalWiki. Our team is available 24/7 to address any questions or concerns you may have. If you ever have a problem, you don't have to worry about not reaching someone. For any further questions or requests, please send an email to crystalwiki.shop@gmail.com with a short description of the matter, and allow up to 1-2 business days for a response. We look forward to serving you and helping you find the perfect crystal for your needs.</p>

	<p class="about-text">Thank you for choosing CrystalWiki!</p>
	<p class="about-text">- Daphane Taylor, Owner</p>
{% endblock content %}